.form-control {
  margin-bottom: 15px;
  padding: 5px;
  display: block;
}

body {
  height: 100vh !important;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}
